.wrapper
  padding: 0 30px
  margin: 0 auto
  max-width: 835px

.wrapper-wide
  max-width: 1440px

.wrapper-noMax
  max-width: none

.pageSection
	position: relative
	z-index: 1
	max-width: 100%
	max-width: 1440px
	margin: 0 auto
	max-width: 100vw
	overflow-x: hidden
	+mq($mobile-bp)
		padding-top: 110px
		padding-bottom: 30px

.main-content
	padding: 0

.navMap
	height: 1px
	width: 1px
	position: absolute
	top: 100vh 
	&-intro
		top: 0
	&-grouping
		&.goingUp
			top: 0
	&-music
		top: 115vh
		+mq(750px)
			top: 50vh
		&.goingUp
			top: 0
	&-bluetooth
		&.goingUp
			top: 0
	&-timer
		&.goingUp
			top: 0
	&-specs
		top: -50px
		&.goingUp
			top: 0

