<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 216 216" enable-background="new 0 0 216 216" xml:space="preserve">
<g>
	<path d="M106.1,199.7c1.4,0.7,3.2,0.5,4.5-0.4l58.6-44c1.1-0.8,1.7-2.1,1.7-3.4c0-1.3-0.6-2.6-1.7-3.4L115.1,108l54.1-40.5
		c1.1-0.8,1.7-2.1,1.7-3.4c0-1.3-0.6-2.6-1.7-3.4l-58.6-44c-1.3-1-3-1.1-4.5-0.4c-1.4,0.7-2.4,2.2-2.4,3.8v79.4L52,60.6
		c-1.9-1.4-4.6-1-6,0.9c-0.7,0.9-1,2-0.8,3.2c0.2,1.1,0.8,2.1,1.7,2.8l54.1,40.5l-54.1,40.5c-0.9,0.7-1.5,1.7-1.7,2.8
		c-0.2,1.1,0.1,2.2,0.8,3.2c0.7,0.9,1.7,1.5,2.8,1.7c1.1,0.2,2.2-0.1,3.2-0.8l51.8-38.8v79.4C103.7,197.5,104.6,199,106.1,199.7z
		 M112.3,28.6L159.5,64l-47.2,35.4V28.6z M112.3,116.5l47.2,35.4l-47.2,35.4V116.5z"/>
</g>
</svg>
