<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 216 216" enable-background="new 0 0 216 216" xml:space="preserve">
<g>
	<path d="M92.9,0C41.7,0,0,41.7,0,92.9c0,33.5,17.9,62.8,44.5,79.1c16.4,26.3,45.4,43.9,78.6,43.9c51.2,0,92.9-41.7,92.9-92.9
		c0-33.2-17.7-62.2-44-78.6C155.7,17.9,126.4,0,92.9,0 M92.9,178.2c-47,0-85.3-38.2-85.3-85.3c0-47,38.2-85.3,85.3-85.3
		c47,0,85.3,38.2,85.3,85.3C178.2,139.9,139.9,178.2,92.9,178.2 M92.9,185.8c51.2,0,92.9-41.7,92.9-92.9c0-11.8-2.3-23.1-6.4-33.5
		c17.6,15.6,28.9,38.3,28.9,63.7c0,47-38.3,85.3-85.3,85.3c-25.4,0-48.1-11.2-63.7-28.9C69.8,183.5,81.1,185.8,92.9,185.8"/>
</g>
</svg>
