<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.11647 42.45071">
	<defs>
		<style>.cls-1{fill:#fff;}</style>
	</defs>
	<title>light-bulb</title>
	<g id="Layer_2" data-name="Layer 2">
		<g id="Layer_1-2" data-name="Layer 1">
			<path class="cls-1" d="M3.67787,38.77172a12.558,12.558,0,0,0,21.4386-8.88008A12.4395,12.4395,0,0,0,23.871,24.435l-.465-.94687c-.53923-1.09644-1.08661-2.20723-1.51506-3.30311a11.818,11.818,0,0,1-.946-4.38523,7.85542,7.85542,0,0,0-.5069-2.966,4.423,4.423,0,0,0-1.17769-1.68628,8.30484,8.30484,0,0,1-1.24939-1.257,3.04036,3.04036,0,0,1-.39078-.68851,1.9671,1.9671,0,0,1-.14563-.74081V4.9908a3.26533,3.26533,0,0,0-.96206-2.3194L14.74888.90584a3.096,3.096,0,0,0-4.37735.00084L8.60766,2.67139a3.26006,3.26006,0,0,0-.96094,2.32V8.46119a2.01848,2.01848,0,0,1-.14282.73771,3.42313,3.42313,0,0,1-.66883,1.02251,10.56072,10.56072,0,0,1-.97556.92719,4.42457,4.42457,0,0,0-1.17629,1.684,7.86758,7.86758,0,0,0-.50774,2.96715,11.80054,11.80054,0,0,1-.93592,4.36892c-.4397,1.12484-1.00479,2.266-1.551,3.36947l-.424.85776A12.56463,12.56463,0,0,0,3.67787,38.77172M20.97612,38.309A11.90444,11.90444,0,0,1,.65393,29.89164a11.7985,11.7985,0,0,1,.65393-3.89548H23.80945A11.91954,11.91954,0,0,1,20.97612,38.309M10.83372,1.36888a2.44374,2.44374,0,0,1,3.4538,0l2.07031,2.07059H8.76425ZM8.30122,4.99361a2.38677,2.38677,0,0,1,.03289-.40119L8.41,4.09453h8.29981l.07732.49986A2.58,2.58,0,0,1,16.82,4.9908V8.13366H8.30122ZM1.8544,24.68211l.43211-.87659c.542-1.09617,1.10376-2.22972,1.56145-3.40067a13.55175,13.55175,0,0,0,.94294-3.73972l.08631-1.81138A6.39074,6.39074,0,0,1,5.288,13.08116a3.73508,3.73508,0,0,1,1.0003-1.43663,8.87526,8.87526,0,0,0,1.34469-1.3638,3.55323,3.55323,0,0,0,.47794-.83949c.02952-.07366.05538-.15153.079-.23053l.12623-.422h8.48846l.126.422c.02362.08068.05032.15969.08013.23587a4.06887,4.06887,0,0,0,.78522,1.2103,11.572,11.572,0,0,0,1.036.98709l.00112.00056a3.71775,3.71775,0,0,1,.99889,1.43578,6.294,6.294,0,0,1,.40794,1.74111l.09052,1.86029a13.39033,13.39033,0,0,0,.95222,3.74254c.45038,1.14537.99833,2.25755,1.52771,3.33207l.47147.96291c.08744.17965.16756.36211.24515.54513H1.58957c.08294-.19568.17037-.39022.26483-.58224"/>
		</g>
	</g>
</svg>