<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 419.47 644.46">
	<title>light-fixture-black</title>
	<g id="Layer_2" data-name="Layer 2">
		<g id="Layer_1-2" data-name="Layer 1">
			<path class="cls-1" d="M353.74,480.8c-29.61-22.77-67.27-37.67-108.91-43.07l-3.92-.51V397.88a17,17,0,0,0-17-17h-9.78V0h-4.73V380.9h-9.78a17,17,0,0,0-17,17v38.85l-4,.46c-43.26,5-82.31,20.05-112.93,43.61C22.73,513.89,0,561.1,0,617.33c0,15.47,10.37,27.14,24.12,27.14H395.36c13.74,0,24.11-11.67,24.11-27.14,0-56.24-22.73-103.45-65.73-136.53"/>
			<path class="cls-2" d="M395.36,638.72H24.12c-12.72,0-19.38-11.27-19.38-22.39,0-5.7.25-11.41.74-17l.42-4.86L6.52,590C20.91,485.79,119,439.17,209.74,439.17S398.57,485.79,413,590l.63,4.52-.52.07.1,1.23.53,0,.32,3.63c.48,5.63.73,11.33.73,17,0,11.13-6.65,22.39-19.37,22.39"/>
			<path class="cls-3" d="M187.38,396.88a12.26,12.26,0,0,1,12.25-12.24h24.29a12.26,12.26,0,0,1,12.25,12.24v38.79l-4.86-.39a280.28,280.28,0,0,0-39.16-.28l-4.78.32Z"/>
		</g>
	</g>
</svg>