<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.63504 85.47662">
	<defs>
		<style>.cls-1{fill:#fff; color:#000;}</style>
	</defs>
	<title>light-fixture</title>
	<g id="Layer_2" data-name="Layer 2">
		<g id="Layer_1-2" data-name="Layer 1">
			<path class="cls-1" d="M52.43764,84.84715H3.19965a2.71446,2.71446,0,0,1-2.57046-2.97c0-.75543.03289-1.51282.09756-2.25024L.78213,78.982l.08209-.60248C2.77344,64.564,15.77729,58.38008,27.81794,58.38008c12.04178,0,25.04562,6.184,26.95372,19.99944l.08294.59939-.06944.00957.01349.16277.07-.00619.04189.48188c.0641.74643.09671,1.50325.09671,2.25024a2.714,2.714,0,0,1-2.56962,2.97M24.853,52.77162a1.626,1.626,0,0,1,1.62527-1.6233h3.22214a1.62621,1.62621,0,0,1,1.62527,1.6233V57.917l-.64409-.05145a37.17413,37.17413,0,0,0-5.19406-.03711l-.63453.04245ZM46.91746,63.76953A29.95093,29.95093,0,0,0,32.47277,58.057l-.52011-.06775V52.77162a2.255,2.255,0,0,0-2.25221-2.25277H28.403V0h-.62722V50.51885H26.47831a2.25552,2.25552,0,0,0-2.25305,2.25277v5.15245l-.52967.061A30.11387,30.11387,0,0,0,8.717,63.76953,22.02134,22.02134,0,0,0,0,81.87719a3.34177,3.34177,0,0,0,3.19965,3.59943h49.238a3.34094,3.34094,0,0,0,3.1974-3.59943,22.01621,22.01621,0,0,0-8.71758-18.10766"/>
		</g>
	</g>
</svg>