<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 216 216" enable-background="new 0 0 216 216" xml:space="preserve">
<g>
	<path d="M196.5,0c-0.3,0-0.5,0-0.8,0.1L84.3,26.7c-1.7,0.4-3,2.1-3,3.9v135l-1.3-1c-5.6-4.5-13.7-6.9-22.2-6.9
		c-4.1,0-8.2,0.5-12.3,1.7c-9.4,2.6-17.5,7.7-23,14.4c-5.9,7.2-8.1,15.3-6.2,22.9c2.9,11.5,14.9,19.3,30,19.3
		c4.2,0,8.4-0.6,12.7-1.8c16.4-4.5,28.6-16.8,29.7-29.9l0.2-1V65.9l0.6-0.2L192.7,41v98l-1.3-1c-5.6-4.5-13.7-6.9-22.2-6.9
		c-4.1,0-8.2,0.5-12.3,1.7c-9.4,2.6-17.5,7.7-23,14.4c-5.9,7.2-8,15.3-6.2,22.9c2.9,11.5,14.9,19.3,30,19.3c4.2,0,8.5-0.6,12.7-1.8
		c16.4-4.5,28.6-16.8,29.7-29.9l0.2-1V4c0-1.2-0.5-2.4-1.4-3.2C198.2,0.3,197.3,0,196.5,0 M88.9,57.7V33.9l0.6-0.2L192.7,9v23.8
		l-0.6,0.1L88.9,57.7z M157.8,181.3c-11.6,0-20.7-5.3-22.7-13.3c-1.2-4.9,0.4-10.5,4.5-15.6v0c4.5-5.5,11.4-9.7,19.2-11.9
		c3.6-1,7.3-1.5,10.8-1.5c11.6,0,20.8,5.4,22.7,13.3c2.7,10.8-8,23.1-23.7,27.5C165,180.8,161.3,181.3,157.8,181.3 M46.4,208
		c-11.6,0-20.7-5.3-22.7-13.3c-1.2-4.9,0.4-10.5,4.5-15.5c4.5-5.5,11.4-9.7,19.2-11.9c3.6-1,7.3-1.5,10.8-1.5
		C69.9,165.7,79,171,81,179c2.7,10.8-8,23.1-23.7,27.5C53.6,207.5,49.9,208,46.4,208"/>
</g>
</svg>
