<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 216 216" enable-background="new 0 0 216 216" xml:space="preserve">
<g>
	<g>
		<path d="M16.9,40.2c-1.9,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5h31.6c1.9,0,3.5-1.6,3.5-3.5s-1.6-3.5-3.5-3.5H16.9z"/>
		<path d="M48.5,47.7H16.9c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4h31.6c2.2,0,4,1.8,4,4C52.5,45.9,50.7,47.7,48.5,47.7z M16.9,40.7
			c-1.7,0-3,1.4-3,3s1.4,3,3,3h31.6c1.7,0,3-1.4,3-3s-1.4-3-3-3H16.9z"/>
	</g>
	<g>
		<path d="M16.9,83c-1.9,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5h31.6c1.9,0,3.5-1.6,3.5-3.5S50.5,83,48.5,83H16.9z"/>
		<path d="M48.5,90.6H16.9c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4h31.6c2.2,0,4,1.8,4,4C52.5,88.8,50.7,90.6,48.5,90.6z M16.9,83.5
			c-1.7,0-3,1.4-3,3s1.4,3,3,3h31.6c1.7,0,3-1.4,3-3s-1.4-3-3-3H16.9z"/>
	</g>
	<g>
		<path d="M16.9,125.9c-1.9,0-3.5,1.6-3.5,3.5c0,1.9,1.6,3.5,3.5,3.5h31.6c1.9,0,3.5-1.6,3.5-3.5c0-1.9-1.6-3.5-3.5-3.5H16.9z"/>
		<path d="M48.5,133.5H16.9c-2.2,0-4-1.8-4-4s1.8-4,4-4h31.6c2.2,0,4,1.8,4,4S50.7,133.5,48.5,133.5z M16.9,126.4c-1.7,0-3,1.4-3,3
			s1.4,3,3,3h31.6c1.7,0,3-1.4,3-3s-1.4-3-3-3H16.9z"/>
	</g>
	<g>
		<g>
			<path d="M199.1,47.2c1.9,0,3.5-1.6,3.5-3.5s-1.6-3.5-3.5-3.5H69.9c-1.9,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5H199.1z"/>
			<path d="M199.1,47.7H69.9c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4h129.2c2.2,0,4,1.8,4,4C203.2,45.9,201.4,47.7,199.1,47.7z M69.9,40.7
				c-1.7,0-3,1.4-3,3s1.4,3,3,3h129.2c1.7,0,3-1.4,3-3s-1.4-3-3-3H69.9z"/>
		</g>
		<g>
			<path d="M199.1,90.1c1.9,0,3.5-1.6,3.5-3.5s-1.6-3.5-3.5-3.5H69.9c-1.9,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5H199.1z"/>
			<path d="M199.1,90.6H69.9c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4h129.2c2.2,0,4,1.8,4,4C203.2,88.8,201.4,90.6,199.1,90.6z M69.9,83.5
				c-1.7,0-3,1.4-3,3s1.4,3,3,3h129.2c1.7,0,3-1.4,3-3s-1.4-3-3-3H69.9z"/>
		</g>
		<g>
			<path d="M199.1,133c1.9,0,3.5-1.6,3.5-3.5c0-1.9-1.6-3.5-3.5-3.5H69.9c-1.9,0-3.5,1.6-3.5,3.5c0,1.9,1.6,3.5,3.5,3.5H199.1z"/>
			<path d="M199.1,133.5H69.9c-2.2,0-4-1.8-4-4s1.8-4,4-4h129.2c2.2,0,4,1.8,4,4S201.4,133.5,199.1,133.5z M69.9,126.4
				c-1.7,0-3,1.4-3,3s1.4,3,3,3h129.2c1.7,0,3-1.4,3-3s-1.4-3-3-3H69.9z"/>
		</g>
		<g>
			<path d="M199.1,175.8c1.9,0,3.5-1.6,3.5-3.5c0-1.9-1.6-3.5-3.5-3.5H69.9c-1.9,0-3.5,1.6-3.5,3.5c0,1.9,1.6,3.5,3.5,3.5H199.1z"/>
			<path d="M199.1,176.3H69.9c-2.2,0-4-1.8-4-4s1.8-4,4-4h129.2c2.2,0,4,1.8,4,4S201.4,176.3,199.1,176.3z M69.9,169.3
				c-1.7,0-3,1.4-3,3s1.4,3,3,3h129.2c1.7,0,3-1.4,3-3s-1.4-3-3-3H69.9z"/>
		</g>
	</g>
	<g>
		<path d="M16.9,168.8c-1.9,0-3.5,1.6-3.5,3.5c0,1.9,1.6,3.5,3.5,3.5h31.6c1.9,0,3.5-1.6,3.5-3.5c0-1.9-1.6-3.5-3.5-3.5H16.9z"/>
		<path d="M48.5,176.3H16.9c-2.2,0-4-1.8-4-4s1.8-4,4-4h31.6c2.2,0,4,1.8,4,4S50.7,176.3,48.5,176.3z M16.9,169.3c-1.7,0-3,1.4-3,3
			s1.4,3,3,3h31.6c1.7,0,3-1.4,3-3s-1.4-3-3-3H16.9z"/>
	</g>
</g>
</svg>
