<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 500 238.2" style="enable-background:new 0 0 500 238.2;" xml:space="preserve">
<style type="text/css">
	.st0{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
	.st1{fill:#FFFFFF;}
	.st2{clip-path:url(#SVGID_4_);fill:#FFFFFF;}
</style>
<g>
	<defs>
		<rect id="SVGID_1_" width="500.4" height="237.4"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<path class="st0" d="M120.4,140.1c33.9-22.8,59.6-52.4,57.3-66c-2.3-13.6-31.7-6.2-65.6,16.6c-33.4,22.5-58.8,51.4-57.3,65.3
		c0.4,4.2,2.1,4.9,4.6,6.3C69,166.8,93.2,158.3,120.4,140.1 M170.6,104.6c-7,7.7-14.6,15.5-23,23.1c-43.2,38.6-90.1,57.9-109.2,45.8
		C20.5,200.8,0,237.4,0,237.4c6.1-16.8,21.7-48.4,33.2-69c-9.5-17.4,17.9-71,52.3-102.6c35.8-33.3,79.7-49.7,79.7-49.7
		C81.3,40.5,22.7,105.2,22.7,105.2l16-40.4C136.6-5,240,0.1,240,0.1S135,17.9,79.8,85.8c-19,23.3-25.6,38.6-26.9,50.6
		c16-24.8,44.9-51.5,69.4-69.5C166,34.8,202.9,25.5,204.7,46C205.8,59.3,192.1,81.7,170.6,104.6"/>
	<path class="st0" d="M496.4,47.5c-2.7-5.6-6.7-10.4-11.9-14.1c-5.2-3.4-10.9-5.6-16.8-6.4c-5.7-0.8-11.4-1.1-17.2-1H426v134.7h20.9
		v-56.1h7.2c5.6,0.1,11.3-0.5,16.8-1.7c5.7-1.2,11.1-3.8,15.9-7.5c4.5-3.8,7.9-8.3,10.2-13.6c2.2-5.2,3.4-10.8,3.4-16.4
		C500.4,59,499,53.1,496.4,47.5 M476.1,77.1c-2.3,2.9-5.2,4.8-9,6c-4.1,1.2-8.7,1.8-13.8,1.8h-6.4V45.7h2.1
		c5.6-0.1,10.8,0.3,15.7,1.1c4.5,0.8,8,2.5,10.8,5.3c2.6,2.6,4,6.9,4.1,12.9C479.4,70.2,478.3,74.3,476.1,77.1"/>
	<path class="st0" d="M368.2,23.9c-13,0.1-25,3.4-35.6,9.6c-10.6,6.2-19.1,14.7-25.3,25.2c-6.3,10.5-9.5,22.4-9.7,35.3
		c0.2,12.9,3.5,24.6,9.8,35c6.3,10.3,14.9,18.6,25.5,24.7c10.6,6.1,22.5,9.3,35.3,9.4c7.3,0,14.4-1.2,21.3-3.5
		c6.9-2.3,13.3-5.5,19.2-9.7l1.3-0.9v-27.1l-5.5,5.5c-4.9,4.9-10.7,8.8-17,11.7c-6.3,2.8-13,4.3-19.8,4.4c-9-0.1-17.4-2.5-24.7-7
		c-7.4-4.6-13.4-10.7-17.7-18.2c-4.4-7.5-6.6-15.8-6.7-24.7c0.1-8.9,2.4-17.2,6.7-24.7c4.3-7.5,10.3-13.6,17.6-18.2
		c7.3-4.5,15.6-6.9,24.6-7c7,0.1,13.8,1.5,20.1,4.3c6.4,2.8,12.1,6.8,17,11.8l5.6,5.7V38.1l-1.3-1C396.8,28.3,383.1,23.8,368.2,23.9
		"/>
</g>
<polyline class="st1" points="221.4,26.2 221.4,45.9 252.6,45.9 252.6,160.9 273.5,160.9 273.5,45.9 305.1,45.9 305.1,26.2 "/>
<g>
	<defs>
		<rect id="SVGID_3_" width="500.4" height="237.4"/>
	</defs>
	<clipPath id="SVGID_4_">
		<use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
	</clipPath>
	<path class="st2" d="M463.6,151.4c3.4,0,6,2.7,6,6c0,3.3-2.7,6-6,6c-3.3,0-6.1-2.7-6.1-6C457.5,154.2,460.1,151.4,463.6,151.4
		L463.6,151.4z M463.6,152.4c-2.8,0-5,2.3-5,5c0,2.8,2.2,5,5,5c2.7,0,4.9-2.2,4.9-5C468.5,154.7,466.4,152.4,463.6,152.4
		L463.6,152.4z M463.9,154c1.1,0,2.4,0.4,2.4,1.9c0,0.6-0.2,1.3-1.2,1.6c0.6,0.2,1,0.6,1,1.6c0.1,1.2,0.1,1.3,0.2,1.7h-1.3
		c-0.1-0.2-0.2-1.1-0.2-1.6c0-0.5-0.1-1.1-1.4-1.1h-1.1v2.7H461V154H463.9z M462.4,155v2.1h1.2c0.4,0,1.4,0,1.4-1.1c0-1-0.9-1-1.3-1
		H462.4z"/>
</g>
</svg>
