<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 216 216" enable-background="new 0 0 216 216" xml:space="preserve">
<g>
	<g>
		<path d="M108,0C48.4,0,0,48.4,0,108c0,59.6,48.5,108,108,108c59.6,0,108-48.4,108-108C216,48.4,167.6,0,108,0 M108,208.4
			c-55.3,0-100.4-45-100.4-100.4C7.6,52.7,52.7,7.7,108,7.7c55.3,0,100.3,45,100.3,100.3C208.4,163.3,163.3,208.4,108,208.4"/>
	</g>
	<g>
		<path d="M109.6,96.3L109.6,96.3l0.1,0c0.5,0.1,0.9,0.1,1.4,0.3C110.6,96.4,110.1,96.3,109.6,96.3 M102,97.8
			c-3.5,2.1-5.9,5.9-5.9,10.2c0,1,0.1,1.9,0.4,2.9c-0.8-3.1-0.3-6.5,1.5-9.4c0.9-1.4,2.2-2.6,3.9-3.6L102,97.8L102,97.8z
			 M119.7,110.1c-0.3,1.5-0.8,3-1.7,4.4c-2.3,3.5-6.1,5.4-9.9,5.4c-0.3,0-0.5,0-0.8,0c0.3,0,0.5,0,0.8,0
			C113.8,119.8,118.7,115.6,119.7,110.1 M97.3,113.1L97.3,113.1l-43,43.2c-0.7,0.7-1.1,1.7-1.1,2.7c0,1,0.4,2,1.1,2.7l2.7,1.1
			l2.7-1.1l43-43.1c-0.4-0.2-0.8-0.4-1.1-0.6C99.7,116.7,98.2,115,97.3,113.1"/>
	</g>
	<g>
		<path d="M93.1,33.6c-0.3,0-0.5,0-0.8,0.1l-2.4,1.7l-0.5,2.9L102,97.8l0,0.1l-0.1,0.1c-1.7,1-3,2.2-3.9,3.6
			c-1.9,2.9-2.3,6.3-1.5,9.4c0.2,0.8,0.5,1.5,0.8,2.2c0.9,1.9,2.3,3.6,4.2,4.8c0.4,0.2,0.7,0.5,1.1,0.7c1.4,0.7,3,1.1,4.5,1.2
			c0.3,0,0.5,0,0.8,0c3.9,0,7.7-1.9,9.9-5.4c0.9-1.4,1.5-2.9,1.7-4.4c0.8-4.6-1.1-9.4-5.2-12c-1-0.7-2.2-1.2-3.4-1.5
			c-0.4-0.1-0.9-0.2-1.4-0.3l-0.1,0v0l0-0.1L96.8,36.6l-1.6-2.4C94.6,33.8,93.8,33.6,93.1,33.6"/>
	</g>
</g>
</svg>
