@keyframes fadeIn
	from
		opacity: 0
		top: 30px
	to 
		opacity: 1
		top: 0

@-webkit-keyframes fadeIn
	from
		opacity: 0
		top: 30px
	to 
		opacity: 1
		top: 0

@keyframes fadeIn-intro-headline
	from
		opacity: 0
		transform: translateY(10%)
	to 
		opacity: 1
		transform: translateY(0)

@-webkit-keyframes fadeIn-intro-headline
	from
		opacity: 0
		transform: translateY(10%)
	to 
		opacity: 1
		transform: translateY(0)

@keyframes fadeIn-low-opacity
	from
		opacity: 0
		transform: translateY(30px)
	to 
		opacity: .3
		transform: translateY(0)

@-webkit-keyframes fadeIn-low-opacity
	from
		opacity: 0
		transform: translateY(30px)
	to 
		opacity: .3
		transform: translateY(0)

@keyframes fadeIn-fromLeft
	from
		opacity: 0
		transform: translateX(-30px)
	to 
		opacity: 1
		transform: translateX(0)


@-webkit-keyframes fadeIn-fromLeft
	from
		opacity: 0
		transform: translateX(-30px)
	to 
		opacity: 1
		transform: translateX(0)

@keyframes fadeIn-fromRight
	from
		opacity: 0
		transform: translateX(30px)
	to 
		opacity: 1
		transform: translateX(0)


@-webkit-keyframes fadeIn-fromRight
	from
		opacity: 0
		transform: translateX(30px)
	to 
		opacity: 1
		transform: translateX(0)


