// ====================================================================
// Base
//
// These are top-level styles for things like the <body>. Properties like
//  box-sizing, body background/font-family and more.
// ====================================================================

*
  box-sizing: border-box

body
  -webkit-font-smoothing: antialiased
  text-rendering: optimizelegibility
  background-color: black
  color: white
  overflow-x: hidden

.desktop
	display: none
	+mq($mobile-bp)
		display: block

.mobile
	+mq($mobile-bp)
		display: none