// ====================================================================
// Headers
// ===================================================================

.headline
	display: block
	font-weight: 300
	text-align: center
	line-height: 1.15
	&-main
		+font-size(36px)
		+mq(500px)
			+font-size(42px)
	&-sub
		+font-size(20px)
		+mq(500px)
			font-size: 24px

	&-sectionTitle
		display: inline-block
		text-transform: uppercase
		font-size: 18px
		position: relative
		font-weight: 800
		letter-spacing: 3px
		margin-bottom: 15px
		&:before
			bottom: 40px
			left: calc(50% - 15px)
			width: 30px
			position: absolute
			height: 2px
			content: " "
			border-top: 2px solid white
		&-center
			left: 50%
			transform: translateX(-50%)
		&-left
			&:before
				left: 0

			