// helpers.scss

/// Base path for assets (fonts, images...),
/// should not include trailing slash
/// @access public
/// @type String
$asset-base-path: "/assets" !default

/// Asset URL builder
/// @access private
/// @param {String} $type - Asset type, matching folder name
/// @param {String} $file - Asset file name, including extension
/// @return {URL} - A `url()` function leading to the asset
@function asset($type, $file)
  @return url($asset-base-path + "/" + $type + "/" + $file)

/// Image asset helper
/// @access public
/// @param {String} $file - Asset file name, including extension
/// @return {URL} - A `url()` function leading to the image
/// @require {function} asset
@function image($file)
  @return asset("images", $file)

img
  max-width: 100%

picture *
  display: block

//calculate rem
@function calculateRem($size)
  $remSize: $size / 16px

  @return $remSize * 1rem

=font-size($size)
  font-size: $size
  font-size: calculateRem($size)

=rem($param, $size)
  #{$param}: $size
  #{$param}: calculateRem($size)

=rem2($param, $vertical, $horizontal)
  #{$param}: $vertical $horizontal
  #{$param}: calculateRem($vertical) calculateRem($horizontal)

=rem4($param, $top, $right, $bottom, $left)
  #{$param}: $top $right $bottom $left
  #{$param}: calculateRem($top) calculateRem($right) calculateRem($bottom) calculateRem($left)

//transitions
=transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args

%clearfix:before,
%clearfix:after
  content: " "
  display: table

%clearfix:after
  clear: both