<div id="bluetooth">
<div id="map-bluetooth" class="navMap navMap-bluetooth"></div>
<section class="bluetooth pageSection wrapper wrapper-wide">
	<!-- {{sprite('light-full')}} -->
	<div class="bluetooth_animation">
		<div class="bluetooth_lightWrapper">
			{% include 'modules/light-mod.html' %}
		</div>
		<div class="bluetooth_lightWrapper">
			{% include 'modules/light-mod.html' %}
		</div>
		<div class="bluetooth_lightWrapper">
			{% include 'modules/light-mod.html' %}
		</div>
		<div class="bluetooth_animation_signal">
			<div class="signal_beams">
        <span class="beam"></span>
      </div>
      <div class="signal_beams">
        <span class="beam"></span>
      </div>
      <div class="signal_beams">
        <span class="beam"></span>
      </div>
      <div class="signal_beams">
        <span class="beam"></span>
      </div>
		</div>
		<div class="bluetooth_animation_logo">
			<img src="images/colorspree.png" alt="">
		</div>
	</div>
	<div class="bluetooth_content">	
		<h2 class="bluetooth_content_title headline headline-sectionTitle headline-sectionTitle-center">Plug-In-Play</h2>
		<h3 class="bluetooth_content_header headline headline-main">NO router, wifi, server or docking station needed</h3>
		<p class="bluetooth_content_p">Just a Colorspree&trade; bulb and a touch device. Leveraging {{sprite('bluetooth')}} Bluetooth low energy&nbsp;technology.</p>
	</div>
</section>
</div>