<div class="wrapper wrapper-wide">
	<footer class="footer">
		<a href="http://www.tcpi.com/consumer/faqs/" class="btn">Support</a>
		<p class="copyright">&copy; TCP Colorspree, 2017. All rights reserved.</p>	
	</footer>
</div>