<div id="groupingWrapper">
<div id="map-grouping" class="navMap navMap-grouping"></div>	
	<section id="grouping" class="grouping pageSection">
		<div class="grouping_bulbs">
			<div class="bulbs_bulb bulbs_bulb-odd">
				<img src="images/bulb-lit.png" alt="a lit lightbulb" class="bulb bulb-lit">
				<img src="images/bulb-unlit.png" alt="an unlit light bulb" class="bulb bulb-unlit">
			</div>
			<div class="bulbs_bulb bulbs_bulb-even">
				<img src="images/bulb-lit.png" alt="a lit lightbulb" class="bulb bulb-lit">
				<img src="images/bulb-unlit.png" alt="an unlit light bulb" class="bulb bulb-unlit">
			</div>
			<div class="bulbs_bulb bulbs_bulb-odd">
				<img src="images/bulb-lit.png" alt="a lit lightbulb" class="bulb bulb-lit">
				<img src="images/bulb-unlit.png" alt="an unlit light bulb" class="bulb bulb-unlit">
			</div>
			<div class="bulbs_bulb bulbs_bulb-even">
				<img src="images/bulb-lit.png" alt="a lit lightbulb" class="bulb bulb-lit">
				<img src="images/bulb-unlit.png" alt="an unlit light bulb" class="bulb bulb-unlit">
			</div>
			<div class="bulbs_bulb bulbs_bulb-odd">
				<img src="images/bulb-lit.png" alt="a lit lightbulb" class="bulb bulb-lit">
				<img src="images/bulb-unlit.png" alt="an unlit light bulb" class="bulb bulb-unlit">
			</div>
		</div>
		<div class=" wrapper wrapper-wide">
			<h2 class="headline headline-sectionTitle headline-sectionTitle-center">Grouping</h2>
			<h3 id="grouping_headline" class="headline headline-main">Customize multiple bulbs at once</h3>

			<ul class="groupingList">
				<li class="groupingList_item groupingList_item-left">
					<span class="groupingList_item_description desktop">Group bulbs to control on/off, color, dimness, and play the beat to your Spotify® playlists.</span>
					<span class="groupingList_item_icon">{{sprite('grouping')}}</span>	
				</li>
				<li class="groupingList_item groupingList_item-middle"><span class="plus">+</span></li>
				<li class="groupingList_item groupingList_item-right">
					<span class="groupingList_item_description desktop">Colorize several bulbs simultaneously.</span>
					<span class="groupingList_item_icon">{{sprite('icon-color-wheel')}}</span>
				</li>
			</ul>
			<p class="grouping_p mobile">Group bulbs to control on/off, color, dimness, and play the beat to your Spotify® playlists. Colorize several bulbs simultaneously.</p>
		</div>	
	</section>
</div>