<section class="intro pageSection " id="intro">
<div id="map-intro" class="navMap navMap-intro"></div>
	<div class="intro_graphic">
		<img class="intro_headerImage animate" src="/images/bulb-header.png" alt="#">
		<ul class="introList desktop">
			<li class="introList_item">
				<span class="introList_item_description">Choose from 10 million colors</span>
				<div class="icon-container">
				  <div class="dot"></div>
				  <div class="line"></div>
				  <div class="circle">
	    			<div class="svg"> 
	    				{{sprite('icon-color-drop')}} 
	    			</div>
	  			</div>
				</div>
			</li>
			<li class="introList_item introList_item-right animate">
				<div class="icon-container">
				  <div class="dot"></div>
				  <div class="line"></div>
				  <div class="circle">
	    			<div class="svg"> 
	    				{{sprite('icon-sun')}} 
	    			</div>
	  			</div>
				</div>			
				<span class="introList_item_description">Mimics natural light, anywhere</span>
			</li>
			<li class="introList_item animate">
				<span class="introList_item_description">Visualize your personal playlist</span>
				<div class="icon-container">
				  <div class="dot"></div>
				  <div class="line"></div>
				  <div class="circle">
	    			<div class="svg"> 
	    				{{sprite('icon-music')}} 
	    			</div>
	  			</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="headerIntro">
		<h1 class="headline headline-main animate">Introducing Colorspree<span class="tiny">&trade;</span></h1>
		<h3 class="headline headline-sub animate">The next generation of LED smart lighting through Bluetooth<span class="tiny">®</span>.</h3>
		{% include 'layouts/mouse-animation.html' %}
	</div>	
</section>
