<div id="musicWrapper">
<div id="map-music" class="navMap navMap-music"></div>
<section id="music" class="music pageSection">
	<figure class="musicVideo">
		<video src="video/TCP_Spotify Animation.mp4" id="musicVideo" class="musicVideo_video desktop"></video>
		<img src="images/music.png" alt="" class="musicVideo_img">
	</figure>
	<div class="music_content">
		<h2 class="headline headline-sectionTitle headline-sectionTitle-left">Music</h2>
		<h3 class="headline headline-sub ">Sync to <img src="images/spotify.png" class="spotifyLogo"> and visualize your music</h3>
		<ul class="musicList">
			<li class="musicList_item">
				{{sprite('grouping')}}
				<p class="musicList_item_p">Sync and bring over all of your personalized playlists to your device.</p>
			</li>
			<li class="musicList_item">
				{{sprite('music')}}
				<p class="musicList_item_p">Choose from our 8 color themes to customize your music scene.</p>
			</li>
		</ul>
	</div>
</section>
</div>