	<nav class="navBar_logoBlock">
		<div class="navBar_logoBlock_logo navBar_logoBlock_logo-tcp">
			{% include 'svg/tcp-logo.html' %}
		</div>
		<a href="#map-intro" class="navBar_logoBlock_logo navBar_logoBlock_logo-colorspree">
				<img src="/images/colorspree.png" alt="Colorspree Logo">
		</a>
		<div class="navBar_logoBlock_logo navBar_logoBlock_logo-appDownload">
			<a href="#">
				<img src="/images/appStore.png" alt="Download On The App Store">
			</a>
		</div>
	</nav>
	<nav class="navBar_nav">
		<ul class="navBar_navList">
		{% for item in navigation %}
			<li class="navBar_navItem">
				<a href="#map-{{item.name}}">
					<span class="navBar_navItem_icon">
						{% include 'svg/' + item.name + '.html' %} 
					</span>
					<span class="navBar_navItem_label">{{item.name}}</span>
				</a>
			</li>
		{% endfor %}
			<li class="navBar_appDownload">
				<a href="#">
					<img src="/images/appStore.png" alt="Download On The App Store">
				</a>
		</li>
		</ul>
	</nav>