<section id="specs" class="specs pageSection ">
	<div id="map-specs" class="navMap navMap-specs"></div>
	<h2 class="headline headline-sectionTitle headline-sectionTitle-left">Technical Specs</h2>
	<div class="specsContent">
		<div class="specsSection">
			<div class="specsSection_content">
				<h3 class="headline specsSection_content_headline animate">RGB LED</h3>
				<ul class="specsList animate">
					<li class="specsList_item">LED A19</li>
					<li class="specsList_item">120 volts</li>
					<li class="specsList_item">15,000 Hrs lifetime</li>
					<li class="specsList_item">8 watts used</li>
					<li class="specsList_item">2 year limited warranty</li>
					<li class="specsList_item">Software upgradeable</li>
					<li class="specsList_item">2.4 inch x 4.3 inch</li>
				</ul>
			</div>
			<div class="specsSection_img animate">
				<span></span>
			</div>
		</div>
		<div class="specsSection">
			<div class="specsSection_content">
				<h3 class="headline specsSection_content_headline animate">RGB LED</h3>
				<ul class="specsList animate">
					<li class="specsList_item">LED A19</li>
					<li class="specsList_item">120 volts</li>
					<li class="specsList_item">15,000 Hrs lifetime</li>
					<li class="specsList_item">8 watts used</li>
					<li class="specsList_item">2 year limited warranty</li>
					<li class="specsList_item">Software upgradeable</li>
					<li class="specsList_item">2.4 inch x 4.3 inch</li>
				</ul>
			</div>
			<div class="specsSection_img animate">
				<span></span>
			</div>
		</div>
	</div>
</section>