<div id="timerWrapper">
<div id="map-timer" class="navMap navMap-timer"></div>
<section id="timer" class="timer pageSection">
	<figure class="timerVideo">
		<video src="video/TCP_timer_animation.mp4" id="timerVideo" class="timerVideo_video desktop"></video>
		<img src="images/timer.png" alt="" class="timerVideo_img">
	</figure>
	<div class="timer_content">
		<h2 class="headline headline-sectionTitle headline-sectionTitle-left">Timer</h2>
		<h3 class="headline headline-sub">Control when and where you want your lighting.</h3>
		<ul class="timerList">
			<li class="timerList_item">
				{{sprite('icon-time-control')}}
				<p class="timerList_item_p">All day control, with multi-timer functionality</p>
			</li>
			<li class="timerList_item">
				{{sprite('icon-toggle')}}
				<p class="timerList_item_p">Ability to turn timers on/off when not in use.</p>
			</li>
		</ul>

	</div>
</section>
</div>