<div class="bluetooth_animation_light">
	<span class="light_fixture">
		{% include 'svg/light-fixture-black.html' %}
		<!-- <img src="images/light-fixture-black.png" alt=""> -->
	</span>
	<span class="light_bulb">
		{%  include 'svg/light-bulb.html' %}
	</span>
	<span class="light_beams">
		<span class="light_beam_container">
			<span class="light_beam"></span>
    </span>
		<span class="light_beam_container">
			<span class="light_beam"></span>
    </span>
		<span class="light_beam_container">
			<span class="light_beam"></span>
    </span>
	</span>
</div>