.bluetooth
	padding-top: 0
	z-index: 1000
	padding-top: 80px


.bluetooth_animation
	position: relative
	+display-flex
	+align-items-center
	margin-bottom: 10%
	+mq(500px)
		padding: 0 5%
	+mq($mobile-bp)
		// transform: translateY(-30%)
		margin-bottom: 0
	+mq(1200px)
		transform: translateY(0)

.bluetooth_lightWrapper
	position: relative
	width: 35%
	padding: 1vw
	+mq(750px)
		width: 25%
		padding: 2vw
	&:nth-of-type(1)
		+mq(900px)
			transform: translateY(-30%)
	&:nth-of-type(2)
		display: none
		+mq(900px)
			display: block
	&:nth-of-type(3)
		display: none
		+mq(1200px)
			display: block
			transform: translateY(-30%)

.bluetooth_animation_signal
	position: relative
	transform: translateX(20%)
	width: 100%
	bottom: 6vw 

.bluetooth_animation_logo
	position: relative
	top: 0vw
	padding: 15px
	border: 1px solid white
	border-radius: 20px
	width: 25%
	max-width: 150px
	min-width: 70px
	+mq(750px)
		padding: 30px
  +mq(1000px)
    top: -2vw


.light_fixture
  position: relative
  display: block
  z-index: 9997

.light_bulb
  display: block
  margin: 0 auto
  width: 50%
  transform: translateY(-65%)
  &.animate
    svg
      path
        -webkit-animation: bulb 20s .25s ease-in-out infinite
        animation: bulb 20s .25s ease-in-out infinite

.light_beams
  position: relative
  bottom: 30px
  left: 24%
  .light_beam_container
    display: block
    position: relative
    transform-origin: 0
    &:first-of-type
      transform: rotate(110deg)
      width: 60%
      right: 15%
      bottom: 30px

    &:nth-of-type(2)
      transform: rotate(90deg)
      width: 40%
      left: 25%
      bottom: 30px

    &:nth-of-type(3)
      transform: rotate(70deg)
      width: 60%
      left: 60%
      bottom: 35px 
    
.light_beam
  display: block
  border-top: 2px dashed transparent
  transform-origin: 0
  -webkit-backface-visibility: hidden
  &.animate
    animation: beams 20s .25s linear infinite
    -webkit-animation: beams 20s .25s linear infinite
		
.bluetooth_content
  +mq(1200)
    bottom: 60px

.bluetooth_content_header
  font-size: 30px
  margin-bottom: 10px
  +mq(750px)
  	font-size: 40px

.bluetooth_content_p
  text-align: center
  +mq(750px)
  	font-size: 20px
  .sprite
    display: inline
    vertical-align: baseline
    svg
      position: relative
      top: 4px
      height: 18px
      width: 18px
      display: inline
      
.bluetooth_animation_signal
  position: relative
  height: 100%
  width: 60%
  left: 20%

.signal_beams
  position: absolute
  display: block
  width: 15vw
  height: 15vw
  opacity: 0
  -webkit-backface-visibility: hidden;
  +mq(1000px)
  	height: 10vw
  	width: 10vw

  &:first-of-type
    animation: signal-position-1 .75s .25s linear infinite
    -webkit-animation: signal-position-1 .75s .25s linear infinite
  &:nth-of-type(2)
    animation: signal-position-2 .75s 1s linear infinite
    -webkit-animation: signal-position-2 .75s 1s linear infinite
  &:nth-of-type(3)
    animation: signal-position-3 .75s 1.75s linear infinite
    -webkit-animation: signal-position-3 .75s 1.75s linear infinite
  &:nth-of-type(4)
    animation: signal-position-4 .75s 2.5s linear infinite
    -webkit-animation: signal-position-4 .75s 2.5s linear infinite

  .beam
    position: absolute 
    content: "  "
    height: 50%
    width: 50%
    border-radius: 100% 0 0 0
    border-left: 2px solid lighten($darkGray, 20%)
    border-top: 2px solid lighten($darkGray, 20%)
    transform: rotate(-45deg)
    transform-origin: right
      
@keyframes beams
  0%
    opacity: 0
  10%
    border-color: yellow
    opacity: 1
  20%
    opacity: 0
  30%
    border-color: blue
    opacity: 1
  40%
    opacity: 0
  50%
    border-color: red
    opacity: 1
  60%
    opacity: 0
  70%
    border-color: orange
    opacity: 1
  80%
    opacity: 0
  90%
    border-color: purple
    opacity: 1
  100%
    opacity: 0

@-webkit-keyframes beams
  0%
    opacity: 0
  10%
    border-color: yellow
    opacity: 1
  20%
    opacity: 0
  30%
    border-color: blue
    opacity: 1
  40%
    opacity: 0
  50%
    border-color: red
    opacity: 1
  60%
    opacity: 0
  70%
    border-color: orange
    opacity: 1
  80%
    opacity: 0
  90%
    border-color: purple
    opacity: 1
  100%
    opacity: 0

@keyframes bulb
  0%
    fill: white
  10%
    fill: yellow
  20%
    fill: white
  30%
    fill: blue
  40%
    fill: white
  50%
    fill: red
  60%
    fill: white
  70%
    fill: orange
  80%
    fill: white
  90%
    fill: purple
  100%
    fill: white
 
@keyframes bulb-position
  from
    transform: translateY(10%)
  to
    transform: translateY(-63%)

@keyframes signal-position-1
  0%
    transform: scale(1) transformX(0)
    opacity: 1
  100%
    transform: scale(1.5) translateX(-5%)
    opacity: 1
  
@keyframes signal-position-2
  0%
    transform: scale(1.5) translateX(-5%)
    opacity: 1
  100%
    transform: scale(2) translateX(-10%)
    opacity: 1
  
@keyframes signal-position-3
  0%
    transform: scale(2) translateX(-10%)
    opacity: 1
  100%
    transform: scale(2.5) translateX(-15%)
    opacity: 1
  
@keyframes signal-position-4
  0%
    transform: scale(2.5) translateX(-15%)
    opacity: 1
  100%
    transform: scale(3) translateX(-20%)
    opacity: 0

@-webkit-keyframes signal-position-1
  0%
    transform: scale(1) transformX(0)
  100%
    transform: scale(1.25) translateX(-20%)
  
@-webkit-keyframes signal-position-2
  0%
    transform: scale(1.25) translateX(-20%)
  100%
    transform: scale(1.5) translateX(-40%)
  
@-webkit-keyframes signal-position-3
  0%
    transform: scale(1.5) translateX(-40%)
  100%
    transform: scale(1.75) translateX(-60%)
  
@-webkit-keyframes signal-position-4
  0%
    transform: scale(1.75) translateX(-60%)
    opacity: 1
  100%
    transform: scale(2) translateX(-80%)
    opacity: 0    
