.footer
	padding: 15px 60px calc(15px + 47px) 60px
	// padding-bottom: calc(15px + 47px)//desired padding plus height of bottom navbar
	// padding-top: 60px
	position: relative
	+display-flex
	+flex-direction-column
	+align-items-center
	.btn
		&:first-of-type
			margin-bottom: 15px
		background-color: lighten($darkGray, 10%)
		padding: 10px 30px
		color: white
		text-decoration: none
		border-radius: 50px
		+font-size(14px)
		font-weight: 800
		letter-spacing: 2px
		text-align: center
		text-transform: uppercase
		transition: all .15s ease-in-out
		&:hover
			background-color: $darkGray
			transition: all .15s ease-in-out

	.copyright
		+font-size(12px)
		text-align: center
		// +mq($mobile-bp)
		// 	position: absolute
		// 	top: 0
		// 	left: 50%
		// 	transform: translateX(-50%)
		// 	padding-top: 60px

