.grouping
	position: relative
	// min-height: 100vh
	padding-top: 20%	
	+mq($mobile-bp)
		padding-top: 15%
		overflow-x: visible

.grouping .headline-main, .grouping .headline-sectionTitle
	position: relative

.grouping .headline-sectionTitle.animate, .grouping .headline-main
	opacity: 1

.grouping .headline-main
	+mq(700px)
		+font-size(54px)
	+mq($mobile-bp)
		+font-size(64px)
		max-width: 750px
		margin: 60px auto

.groupingList
	+resetlist
	+display-flex
	+justify-content-center 
	+align-items-center
	max-width: 1000px
	margin: 30px auto

.groupingList_item
	margin-right: 30px
	transition: all .5s
	&:last-of-type
		margin-right: 0
	+mq($mobile-bp)
		+display-flex
		+justify-content-space-around
		+align-items-center
		width: 33.333333%
		text-align: center
		margin-right: 0
		&:first-child
			margin-right: 20px

.groupingList_item_description
	width: 70%
	+mq(1000px)
		+font-size(18px)

.groupingList_item-left
	text-align: right
	// opacity: 0
	+mq($mobile-bp)
		width: 40%
	&.animate
		// animation: fadeIn-fromLeft 1s .4s forwards
		// -webkit-animation: fadeIn-fromLeft 1s .4s forwards
		opacity: 1

.groupingList_item-middle
	+mq($mobile-bp)
		width: 10%

.groupingList_item-right
	+flex-direction-row-reverse
	text-align: left
	// opacity: 0
	+mq($mobile-bp)
		width: 40%
	&.animate
		animation: fadeIn-fromRight 1s .4s forwards
		-webkit-animation: fadeIn-fromRight 1s .4s forwards


.groupingList_item .plus
	font-size: 36px
	font-weight: 800
	color: lighten($darkGray, 40%)
	// opacity: 0
	&.animate
		animation: fadeIn 1s forwards
		-webkit-animation: fadeIn 1s forwards


.groupingList_item_icon
	border: 3px solid white
	border-radius: 50%
	width: 80px
	height: 80px
	+display-flex
	+justify-content-center
	+align-items-center
	+mq(1300px)
		width: 100px
		height: 100px
	& .-drop
		svg
			border: 2px dashed white
			border-radius: 50%
			padding: 10px
	svg
		position: relative
		top: 2px
		width: 50px
		+mq(1300px)
			width: 60px

.grouping_p
	// opacity: 0
	text-align: center
	margin: 30px auto
	&.animate
		animation: fadeIn 1.5s .4s forwards
		-webkit-animation: fadeIn 1.5s .4s forwards
	+mq(500px)
		+font-size(20px)
		margin-top: 60px
	+mq(650px)
		+font-size(26px)
		