.bulbsWrapper	
	position: relative
	// overflow-x: hidden

.grouping_bulbs
	position: relative
	transform: rotate(180deg) translateX(-50%)
	left: -150%
	z-index: -1
	width: 200%

.bulbs_bulb
	width: 20%
	position: absolute

	.bulb 
		position: absolute
		left: 0
		width: 100%
		&-lit
			opacity: .3

	+odd()
		transform: rotate(-180deg)
		bottom: 10vw
	+even()
		bottom: 30vw
	
	&:first-of-type
		left: 20%
	&:nth-of-type(2)
		right: 30%
	&:nth-of-type(3)
		left: 40%
	&:nth-of-type(4)
		right: 50%
	&:nth-of-type(5)
		left: 60%


