.introList_item
  +display-flex
  +flex-direction-row
  +align-items-center
  width: 40%
  -webkit-backface-visibility: hidden
  &_description
    text-align: right
    margin-right: 14px
    width: 100%
    opacity: 0
    -webkit-backface-visibility: hidden
    animation: fadeIn 1s .67s forwards
    -webkit-animation: fadeIn 1s .67s forwards
  &:first-of-type
    transform: translateX(-30%)
  &:nth-of-type(2)
    transform: translateX(15%)
  &:last-of-type
    transform: translateX(-15%)


  .icon-container
    width: 100%
    +display-flex
    +flex-direction-row-reverse
    +align-items-center
    +justify-content-flex-end
    overflow: hidden
  &:nth-of-type(2)
    +align-self-flex-end
    .introList_item_description
      text-align: left
      margin-right: 0 
      margin-left: 14px
    .icon-container
      +flex-direction-row

  .dot
    width: 10%
    height: 8px
    background-color: white
    border-radius: 50%
    opacity: 0
    -webkit-backface-visibility: hidden
    animation: dotReveal .5s ease-out forwards
    -webkit-animation: dotReveal .5s ease-out forwards
    +mq(1200px)
      width: 7%

  .line
    position: relative
    min-height: 1px
    border-top: 2px solid white
    width: 100%
    opacity: 0
    transform: translateX(100%)
    overflow: hidden
    -webkit-backface-visibility: hidden
    animation: lineReveal .75s ease-out forwards
    -webkit-animation: lineReveal .75s ease-out forwards

  &:nth-of-type(2)
    .line
      transform: translateX(-100%)

  .circle
    padding: 8px
    border: 2px solid white
    border-radius: 50%
    opacity: 0
    -webkit-backface-visibility: hidden
    animation: circleReveal 1s .65s ease-out forwards
    -webkit-animation: circleReveal 1s .65s ease-out forwards

  .svg
    position: relative
    width:  20px
    height: 20px
    -webkit-animation: dotReveal .5s 1.5s forwards
    animation: dotReveal .5 1.5s forwards
    +mq(1100px)
      height: 30px
      width: 30px


@keyframes dotReveal
  to
    opacity: 1
  


@keyframes lineReveal
  to
    transform: translateX(0)
    opacity: 1
  


@keyframes circleReveal
  to
    opacity: 1
