.intro
	position: relative
	overflow-x: visible
	z-index: 30

.intro_headerImage
	position: relative
	top: 5%
	transform: translateX(50%)
	left: -50%
	overflow: hidden
	z-index: -1
	transition: all .15s ease-in-out
	opacity: 0
	-webkit-backface-visibility: hidden
	-webkit-animation: fadeIn 1s forwards
	animation: fadeIn 1s forwards

	+mq(750px)
		position: absolute
		left: -20%
		width: 70%
	+mq($mobile-bp)
		margin-top: -100px
	+mq(1200px)
		width: 720px
		transform: translateX(0)
		left: calc(50% - 360px)
		margin-top: -100px

.intro_graphic
	position: relative 

.introList
	+mq(750px)
		position: relative
		+resetlist
		width: 80%
		padding: 15px
		transform: translateY(80%)
		height: 25vw
		+display-flex
		+flex-direction-column
		+justify-content-space-around
		margin: 0 auto
		+font-size(14px)
	+mq($mobile-bp)
		transform: translateY(35%)
	+mq(900px)
		+font-size(18px)
	+mq(1120px)
		+font-size(20px)
		width: 70%
	+mq(1200px)
		transform: translateY(30%)
		width: 900px
		height: 300px

.headerIntro
	position: relative
	transform: translateX(-50%)
	left: 50%
	top: 20%
	width: 100%
	& > *
		margin: 0
	.headline-main
		opacity: 0
		margin-bottom: 14px
		&.animate
			-webkit-animation: fadeIn 1s .25s forwards
			animation: fadeIn 1s .25s forwards
	.headline-sub
		opacity: 0
		&.animate
			-webkit-animation: fadeIn 1s .4s forwards
			animation: fadeIn 1s .4s forwards
	+mq(750px)
		margin-top: 25%
	+mq(945px)
		margin-top: 20%
		.headline-main
			font-size: 5vw
		.headline-sub
			font-size:	2.5vw
	+mq(1200px)
		margin-top: 12%
		.headline-main
			+font-size(64px)
		.headline-sub
			+font-size(32px)


.scroll-btn-wrapper
	display: none
	+mq(750px)
		position: absolute
		left: calc(50% - 12.5px)
		display: block
		margin-top: 20px
	
	

