// Mouse animation
@-webkit-keyframes ani-mouse
  0%
    opacity: 1
    top: 29%
  15%
    opacity: 1
    top: 50%
  50%
    opacity: 0
    top: 50%
  100%
    opacity: 0
    top: 29%


@keyframes ani-mouse
  0%
    opacity: 1
    top: 29%
  15%
    opacity: 1
    top: 50%
  50%
    opacity: 0
    top: 50%
  100%
    opacity: 0
    top: 29%


.scroll-btn
  display: inline-block
  opacity: 0
  animation: fadeIn 1.5s 1s forwards

.scroll-btn > * .mouse
  position: relative
  display: block
  width: 25px
  height: 45px
  margin: 0 auto 20px
  box-sizing: border-box
  border: 2px solid white
  border-radius: 20px

.scroll-btn > * .mouse > *
  position: absolute
  display: block
  top: 29%
  left: 50%
  width: 4px
  height: 4px
  margin: -2px 0 0 -2px
  background: white
  border-radius: 50%
  -webkit-animation: ani-mouse 2.5s ease-out infinite
  animation: ani-mouse 2.5s ease-out infinite