#musicWrapper
	+mq(750px)
		padding-top: 80px
		margin-top: 80px
	+mq($mobile-bp)
		margin-bottom: 200px

.music	
	// height: 100vh
	position: relative
	z-index: -2
	+mq($mobile-bp)
		overflow-x: visible

.musicVideo
	margin: 0
	position: relative
	z-index: -100
	&_video
		position: absolute
		transform: translateX(50vw)
		width: 60%
		+mq(750px)
			display: block
			top: -5vw
		+mq(850px)
			top: -10vw
		+mq(1100px)
			top: -15vw
		+mq(1250px)
			top: -15vw
		+mq(1440px)
			top: -300px

	&_img
		position: relative
		display: block
		max-width: none
		width: 200%
		left: 50%
		transform: translateX(-50%)
		+mq(600px)
			width: 80%
		+mq(750px)
			display: none

.spotifyLogo
	vertical-align: middle
	height: 40px

.music_content
	position: relative
	bottom: 60px
	padding: 0 15px
	+mq(750px)
		// position: absolute
		top: 0
		width: 50%
		padding: 30px 0px 30px 120px
		.headline
			left: 0
			transform: translateY(0)
			text-align: left
		.headline-sub
			font-size: 3.5vw
	.headline
		&-sub
			+font-size(32px)
.musicList
	+resetlist
	position: relative
	+mq(450px)
		width: 60%
		margin: 0 auto
	+mq(750px)
		width: 100%
		margin: 0
	+mq($mobile-bp)
		width: auto

.musicList_item
	+display-flex
	+align-items-center
	.sprite
		margin-right: 20px
	svg
		width: 40px

.musicList_item_p
	+mq($mobile-bp)
		+font-size(18px)


// Section Specific Animations
@keyframes fadeIn-musicList
	from
		opacity: 0
		bottom: 30px
	to 
		opacity: 1
		bottom: 0









// Image as background image...just in case I need it again
	// &:after
	// 	position: absolute
	// 	content: " "
	// 	height: 100%
	// 	width: 100%
	// 	background-image: url(../images/music.png)
	// 	background-size: contain
	// 	background-position: center
	// 	background-repeat: no-repeat
	// 	z-index: -1