.navBar_logoBlock
	z-index: 9998
	background-color: $darkGray
	position: fixed
	top: 0
	+display-flex
	+flex-direction-row
	+flex-wrap-wrap
	+align-items-center
	+justify-content-space-between
	width: 100%
	+mq($mobile-bp)
		width: 35%
		+justify-content-flex-start
		height: 60px
	&_logo
		width: 33.33333333%
		padding: 8px 15px
		svg
			display: block
			margin: 0 auto
			max-height: 35px
		img
			display: block
			margin: 0 auto
			max-height: 35px

	&_logo-tcp
		position: relative
		&:after
			content: " "
			background-color: black
			position: absolute
			width: 125%
			height: 100%
			top: 0
			right: 0 
			z-index: -1
			transform: skew(-20deg)	
		+mq($mobile-bp)
			height: 60px
			padding-top: 15px
	&_logo-appDownload
		+mq($mobile-bp)
			display: none

	&_logo-colorspree
		img
			display: block
			height: 35px
			margin: 0 auto

.navBar_navList
	+resetlist
	+display-flex
	+justify-content-space-between
	+align-items-center
	width: 100%
	background-color: $darkGray
	position: fixed
	bottom: 0
	z-index: 9999
	+mq($mobile-bp)
		top: 0 
		right: 0 
		width: 65%
		bottom: auto
		height: 60px
		padding-right: 30px
		+justify-content-flex-end

.navBar_navItem 
	text-align: center
	+mq($mobile-bp)
		width: 100px
	svg
		transition: all .25s cubic-bezier(0,.75,.76,1.36) 
	+mq($mobile-bp)
		// margin-right: 15px
	&:hover
		background-color: lighten($darkGray, 10%)
		.navBar_navItem_icon
			svg
				transition: all .25s cubic-bezier(0,.75,.76,1.36)
				transform: translateY(-4px)
	&:active
		background-color: lighten($darkGray, 10%)

.navBar_navItem a
	display: block
	height: 100%
	width: 100%
	color: white
	text-transform: uppercase
	+font-size(10px)
	text-decoration: none
	padding: 10px

.navBar_navItem_icon
	svg
		display: block
		fill: white
		width: 20px
		margin: 0 auto
		+mq($mobile-bp)
.navBar_navItem_label
	display: block
	margin-top: 6px

.navBar_appDownload
	display: none
	+mq($mobile-bp)
		display: block
		margin-left: 15px
		img
			position: relative
			max-height: 35px


