.specs
	position: relative
	background-color: lighten($darkGray, 2%)
	padding-bottom: 30px
	max-width: 100vw
	.headline-sectionTitle
		margin: 45px 30px 0 30px
		+mq(950px)
			margin-left: 90px
			margin-top: 0

.specsContent 
	+mq($mobile-bp)
		+display-flex

.specsSection
	+display-flex
	+justify-content-flex-start
	margin: 60px auto
	+mq($mobile-bp)
		width: 100%
		margin-right: 30px
	+mq(950px)
		padding-left: 60px

.specsSection_content
	width: 70%	
	padding: 0 30px
	+mq(810px)
		width: 60%
	+mq(960px)
		width: 50%
.specsSection_content .headline
	+font-size(32px)
	text-align: left
	margin-top: 0
	opacity: 0
	&.animate
		-webkit-animation: fadeIn 1s forwards
		animation: fadeIn 1s forwards
	
.specsList
	+resetlist
	opacity: 0
	&.animate
		position: relative
		-webkit-animation: fadeIn 1s forwards
		animation: fadeIn 1s forwards

.specsList_item
	+font-size(16px)
	margin-bottom: 8px
	&:last-of-type
		margin-bottom: 0

.specsSection_img
	width: 30%
	min-height: 0
	background: url( ../images/bulb-footer.png) no-repeat
	background-size: cover
	background-position: 25px 0 
	opacity: 0
	+mq(450px)
		background-size: contain
		background-position: center
	&.animate
		-webkit-animation: fadeIn-fromRight 1.5s .25s forwards
		animation: fadeIn-fromRight 1.5s .25s forwards