#timerWrapper
	+mq(750px)
		padding-top: 80px
		margin-top: 80px
	+mq($mobile-bp)
		margin-bottom: 200px
		margin-top: 200px

.timer	
	position: relative
	z-index: -2
	+mq($mobile-bp)
		overflow-x: visible
		margin-bottom: 250px
		
.timerVideo
	margin: 0
	position: relative
	z-index: -100
	&_video
		position: absolute
		transform: translateX(-20%) translateY(-20%)
		top: 50%
		left: 0
		width: 60%
		+mq(750px)
			display: block
			top: 0
		// 	top: -5vw
		// +mq(850px)
		// 	top: -10vw
		// +mq(1100px)
		// 	top: -15vw
		// +mq(1250px)
		// 	top: -15vw
		// +mq(1440px)
		// 	top: -300px

	&_img
		position: relative
		display: block
		max-width: none
		width: 200%
		left: 50%
		transform: translateX(-50%)
		+mq(400px)
			// width: 80%
			margin: 0 auto
		+mq(600px)
			width: 60%
		+mq(750px)
			display: none

.timer_content
	position: relative
	bottom: 60px
	padding: 0 15px
	+mq(750px)
		position: relative
		left: 50%
		top: 0
		width: 50%
		padding: 30px
		.headline
			left: 0
			transform: translateY(0)
			text-align: left
		.headline-sub
			font-size: 3.5vw
	.headline

		&-sub
			+font-size(32px)
.timerList
	+resetlist
	position: relative
	+mq(450px)
		width: 60%
		margin: 0 auto
	+mq(750px)
		width: 100%
		margin: 0
	+mq($mobile-bp)
		width: auto

.timerList_item
	+display-flex
	+align-items-center
	.sprite
		margin-right: 20px
	svg
		width: 40px

.timerList_item_p
	+mq($mobile-bp)
		+font-size(18px)
	+mq(945px)
		+font-size(22px)